.pageHeader {
   margin: auto;
   padding-bottom: 30px;
   width: 30%;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.shop {
    display: flex;
    flex-basis: 30%;
    padding-bottom: 20px;
    margin: auto;
}